@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
  background: #ffffffd5;

}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left: 10%;
  padding-right: 10%;

}
.btn{
  background:#fff;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.line{
  /* margi-bottom: 50px; */
  width: 80%;
  height: 2px;
  background-color: rgb(74, 71, 71);
}
.college-cont{
  width: 100vw;
  height: auto;
  padding: 20px 100px;
  box-sizing: border-box;
 
}
.college-cont h1,h2,h3,h4{
  margin: 20px 0px;
}
.college-cont p{
  margin: 10px 0px;
  line-height: 1.3;
  margin-left: 10px;
}
.table1-cont{
  width: 100% ;
  overflow-x: scroll;

  
 
}

@media (max-width:850px) {
  .btn{
    padding: 5px 5px;
    border-radius: 10px;
   
  }
  .college-cont{
    padding: 10px;
  }
}



















